.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  padding: 0 50px;
}

.logo {
  margin: auto 0;
  padding: 10px;
}

.list {
  display: flex;
  list-style: none;
}

.list li a{
  padding: 15px;
  color: #62666d;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}



.list li a:hover {
  color: black;
}
